
<!-- this is how to define a style  -->
{% load static %}

<style>
    .navbar-container{
        display: grid;
        /* below is how to create two columns - one small column 1 fraction (1/4) the size of the page */
        grid-template-columns: 1fr 3fr;  
    }

</style>

<div class="navbar-container">
    <div>
        <img src="{% static 'images/teamBron_inv.png' %}" />
    </div>
    <div>
        <div>
            {% if request.user.is_authenticated %}
                <p>Hello {{request.user}}</p>
                <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
        <div>
            <a href="{% url 'summary_page' %}">Look at progress</a>
        </div>
        <div>
            <p>Here is the: <a href="https://www.youtube.com/watch?v=OPB3D2xSprc">Summer Video</a> and <a href="https://www.youtube.com/watch?v=7EQFdkkI5nU">Winter Video</a></p>
        </div>
        <!-- <h2 style="color: red;">UPDATE:</h2>
        <h3>We now have an AI assistant to help label</h3>
        <h3>Her boxes are white and you will need to correct her mistakes as she is not properly trained!</h3> -->
        <div>
            <a href="https://drive.google.com/file/d/1Elgo2Y2fFSIT24wYw8BXav4HtlRnHdAG/view?usp=sharing" download>
                summer dataset zip
              </a>
        </div>
    </div>

</div>

<hr>